<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yotcap.dao.GoodsMapper">


    <!--public Goods getGoodsById(Integer id);-->
    <select id="getGoodsById" resultType="com.yotcap.pojo.Goods">
        select * from goods where id = 1
    </select>

</mapper>